    <div class="main">
        <ul class="flc site-container">        
            <li class="first">
                <p class="title">支持媒体</p>
                <ul class="flc">
                    <li class="mediaOne">
                        <p>
                            <a target="_blank" href="http://www.people.com.cn/">人民网</a>
                        </p>
                        <p>
                            <a target="_blank" href=" http://www.k618.cn/">未来网</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.xinhuanet.com/">新华网</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.qq.com/">腾讯网</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.sina.com.cn/">新浪网</a>
                        </p>
                        <p>
                            <a target="_blank" href=" http://www.sohu.com/">搜狐网</a>
                        </p>
                    </li>
                    <li class="mediaTwo">
                        <p>
                            <a target="_blank" href="http://www.takungpao.com/">大公网</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://zqb.cyol.com/html/2015-12/09/nbs.D110000zgqnb_01.htm">中青报</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://bjwb.bjd.com.cn/html/2015-12/08/node_82.htm">北京晚报</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://bjcb.morningpost.com.cn/html/2015-12/09/node_1.htm">北京晨报</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://epaper.jinghua.cn/html/2015-12/09/node_100.htm">京华时报</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.ccppg.com.cn/baokan/xinwenzhongxin/zxs/">中学生报</a>
                        </p>
                    </li>
                    <li class="mediaThree">
                        <p>
                            <a target="_blank" href="http://www.cntv.cn/">中央电视台</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.youth.cn/ ">中国青年网</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.zgyxwzh.com/">中国艺星网</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.chinanews.com/">中国新闻社</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://paper.jyb.cn/zgjyb/html/2015-12/09/node_2.htm">中国教育报</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://paper.people.com.cn/rmrb/html/2015-12/09/nbs.D110000renmrb_01.htm">人民日报社</a>
                        </p>
                    </li>
                    <li class="mediaFour">
                        <p>
                            <a target="_blank" href="http://www.gmw.cn/">光明日报社</a>
                        </p>
                        <p>
                            <a target="_blank" href=" http://www.ccppg.com.cn/baokan/xinwenzhongxin/zhongguoshaonianbao/">中国少年报</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://epaper.ynet.com/html/2015-05/08/content_131727.htm?div=-1">北京青年报</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.modedu.com/">现代教育报</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.chinadaily.com.cn/">China daily</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://guopei.guoshi.com/">中国教育电视台</a>
                        </p>
                    </li>
                    <li class="mediaFive">
                        <p>
                            <a target="_blank" href="http://www.jyb.cn/">中国教育新闻网</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.edpbook.com.cn/">中国经济日报社</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.xiaoganbu.com/">中国小干部杂志</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.cnr.cn/">中央人民广播电台</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.rbc.cn/">北京人民广播电台</a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.ccppg.com.cn/baokan/zhongguoshaonianertong/">中国少年儿童杂志</a>
                        </p>
                    </li>
                </ul>
            </li>
            <li class="second">
                <p class="title">承办单位</p>
                <p>
                    <a target="_blank" href="http://www.goujiawang.com">杭州构家网络科技有限公司</a>
                </p>
                <p>
                    北京燕园大井文化传播有限公司
                </p>
                <p class="title">主办单位</p>
                <p class="marginT">
                    <a target="_blank" href="http://www.ccpci.org.cn">中国少年儿童书画院</a>
                </p>
                <!-- <p>
                    <a target="_blank" href="http://www.cydev.org/index.html">中国青少年发展服务中心</a>
                </p> -->
                <p>中国青少年发展服务国际交流中心</p>
            </li>
            <li class="line"></li>
            <li class="third">
                <p class="title">手机APP</p>
                <p class="mt20">
                    <img src="$!request.contextPath/res/img/wechatapp.jpg" />
                </p>
                <p>下载移动客户端</p>                
            </li>          
            <li class="forth">
                <p class="title">我的家微信</p>
                <p class="mt20">
                    <img src="$!request.contextPath/res/img/wechat.jpg" />
                </p>
                <p>我的家官方微信</p>        
            </li>            
        </ul>
        <div class="copyright">
            <p class="site-container"><a href="$!request.contextPath/home/aboutUs.do#about">关于我们</a><span> | </span><a href="$!request.contextPath/home/aboutUs.do#contact">联系我们</a><span> | </span><a href="$!request.contextPath/home/aboutUs.do#feedback">意见反馈</a><span> | </span>Copyright © 2015 我的家全国少儿绘画大赛 &nbsp; haaaaaa.com &nbsp; 京ICP备13036750号-3</p>
        </div>
    </div>