<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>关于大赛</title>
    <link href="$!request.contextPath/views/publishh5/res/css/main.css" rel="stylesheet" />
    <script src="$!request.contextPath/views/publishh5/res/js/rem.js"></script>
</head>
<body class="aboutCompetitionPage">
    
<div>
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img1.png" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img2.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img3.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img4.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img5.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img6.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img7.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img8.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img9.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img10.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img11.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img12.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img13.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img14.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img15.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img16.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img17.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img18.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img19.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img20.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img21.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img22.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img23.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img24.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img25.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img26.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutCompetition/img27.gif" />
</div>


</body>
</html>
