<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>关于我们</title>
    <link href="$!request.contextPath/views/publishh5/res/css/main.css" rel="stylesheet" />
    <script src="$!request.contextPath/views/publishh5/res/js/rem.js"></script>
</head>
<body class="aboutUsPage">
    

<article>
    <h1>
        <img src="$!request.contextPath/views/publishh5/res/img/activity/aboutUs/logo.png" />
    </h1>
    <h2>主办单位：</h2>
    <p>中国青少年发展服务中心</p>
    <p>中国青少年发展服务国际交流中心</p>
    <p>中国少年儿童书画院</p>
    <h2>承办单位：</h2>
    <p>杭州构家网络科技有限公司</p>
    <p>北京燕园大井文化传播有限公司</p>
    <p></p>
    <h2>协办单位：</h2>
    <p>中国室内装饰协会装饰材料用品专业委员会</p> 
    <p>中国房地产业协会商业地产专业委员会</p>
    <p>北京大成阳光教育科技有限公司</p>
    <p>北京丁小小教育科技有限公司</p>
    <p>九江联城网络传媒有限公司</p>
    <p>上海威烽市场营销策划有限公司</p>
    <p>杭州岸芷汀兰文化创意有限公司</p>
</article>


</body>
</html>
