<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>赛区活动</title>
    <link href="$!request.contextPath/views/publishh5/res/css/main.css" rel="stylesheet" />
    <script src="$!request.contextPath/views/publishh5/res/js/rem.js"></script>
</head>
<body class="activityPage">
    
<div>    
    <img src="$!request.contextPath/views/publishh5/res/img/activity/activity/img1.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/activity/img2.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/activity/img3.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/activity/img4.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/activity/img5.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/activity/img6.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/activity/img7.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/activity/img8.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/activity/img9.gif" />
    <img src="$!request.contextPath/views/publishh5/res/img/activity/activity/img10.gif" />
</div>


</body>
</html>
