﻿﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="renderer" content="webkit">
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=8.0000"></meta>
    <meta http-equiv="Pragma" content="no-cache"></meta>
    <meta http-equiv="Cache-Control" content="no-cache"></meta>
    <meta http-equiv="Expires" content="0"></meta>
    <meta name="viewport" content="width=device-width" />
    <title>公益活动</title>
    <link href="$!request.contextPath/views/publishh5/res/css/main.css" rel="stylesheet" />
    <script src="$!request.contextPath/views/publishh5/res/js/rem.js"></script>
</head>
<body class="competitionPage">
    
<body class="competitionPage">
    
<article>
    <h1>
        <img src="$!request.contextPath/views/publishh5/res/img/activity/competition/logo.gif" />
    </h1>
    <hgroup>
        <h2>全国少年儿童绘画大赛<br /> —— 让小朋友帮助小朋友</h2>
    </hgroup>
    <p class="mt10">
        “小朋友帮助小朋友”公益计划希望通过互联网平台，连接需要帮助的小朋友、爱心小朋友、社会公益行动者、公益理念传播者，使小朋友不仅仅可以拿作品参赛，还能以此帮助有困难的小朋友，从小培养他们的大爱意识，让公益事业与中国少年儿童艺术共同发展。
    </p>
</article>


</body>
</html>

