<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>为人民设计</title>
    <link href="$!request.contextPath/views/publishh5/res/css/main.css" rel="stylesheet" />
    <script src="$!request.contextPath/views/publishh5/res/js/rem.js"></script>
</head>
<body class="designForThePeoplePage">
    
<div class="wrap">
    <div class="content">
        <p>为了使设计更贴近生活而创建的“为人民设计”频道，是专门为设计师建立的频道，旨在连接设计师与业主。
        设计师的才华不仅仅体现在设计上，还能体现在绘画艺术上。如果你是设计师，如果你对绘画艺术也有的造诣，
        如果你也在这里，请以您独特视角对小朋友的绘画作品做出评价，让更多的家长关注到您。为人民设计，为生活设计。</p>
    </div>
</div>



</body>
</html>
