<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>调查问卷规则</title>
    <link href="$!request.contextPath/views/publishh5/res/css/main.css" rel="stylesheet" />
    <script src="$!request.contextPath/views/publishh5/res/js/rem.js"></script>
</head>
<body class="questionnaireRulesPage">
    
<article>
    <section>
        <h2>如何获得积分：</h2>
        <p>① 填写一份问卷获得10积分；</p>
        <p>② 分享问卷给朋友，并提交问卷，获得5积分；</p>
    </section>
    <section>
        <h2>如何使用积分：</h2>
        <p>① 累计40积分可兑换价值40元的画框；</p>
        <p>② 累计100积分可兑换5平米的防滑砖；</p>
        <div>
            <p>&nbsp;注：</p>
            <p>·积分不可重复使用</p>
            <p>·合作培训机构表格：省市，具体地址、联系方式</p>
            <p>·画框仅限我的家-全国少年儿童绘画大赛获奖参赛者，运费自付</p>
            <p>·5平米防滑砖每个城市限10份，送完即止，运费自付</p>
        </div>
    </section>
    <section>
        <h2>我要装修部分：</h2>
        <p>如果您也有朋友需要装修，赶快留下他的大名和联系方式吧！</p>
        <p>若您的朋友成功联系构家网装修，并通过购家宝支付装修定金，您和您的朋友均可获得10平方米卫生间专用防滑砖（限以下城市：浙江杭州、浙江宁波、浙江金华、浙江瑞安、广东珠海、广东中山、广东佛山、广州、安徽铜陵，送完即止）</p>
        <div>
            <p>（其中，我要装修和阳台的问卷中，如果成功构家装修或者成功设计阳台，都可获得额外的奖励）</p>
        </div>
    </section>
</article>


</body>
</html>
