﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=8.0000"></meta>
    <meta http-equiv="Pragma" content="no-cache"></meta>
    <meta http-equiv="Cache-Control" content="no-cache"></meta>
    <meta http-equiv="Expires" content="0"></meta>
    <meta name="viewport" content="width=device-width" />
    <title>排行榜</title>
    <link href="$!request.contextPath/views/publishh5/res/css/main.css" rel="stylesheet" />
    <script src="$!request.contextPath/views/publishh5/res/js/rem.js"></script>
</head>
<body class="rankingPage">
    
<div>
    <article>
        <h1>
            <img src="$!request.contextPath/views/publishh5/res/img/activity/ranking/logo.jpg" />
        </h1>
        <aside class="mt60">将产生以下排行榜</aside>
        <p class="mt15">
            <img  src="$!request.contextPath/views/publishh5/res/img/activity/ranking/arrow.jpg"/>
        </p>
        <div class="city">
            <img src="$!request.contextPath/views/publishh5/res/img/activity/ranking/city.jpg" />
        </div>
        <section class="mt100">
            <h2>城市排行榜</h2>
            <div class="line"></div>
            <p class="title">城市参与人数排行榜</p>
            <p>各城市按参赛选手的人数排行</p>
            <p class="title">城市状元人气排行榜</p>
            <p>各城市按其最高人气选手的票数来排行</p>
        </section>
        <div class="athlete">
            <img src="$!request.contextPath/views/publishh5/res/img/activity/ranking/athlete.jpg" />
        </div>
        <section class="mt70">
            <h2>选手排行榜</h2>
            <div class="line"></div>
            <p class="title">男生人气排行榜</p>
            <p>所有男选手按票数排行，不分城市和年龄</p>
            <p class="title">女生人气排行榜</p>
            <p>所有女选手按票数排行，不分城市和年龄</p>
            <p class="title">各年龄选手排行榜</p>
            <p>所有N岁选手按票数来排行，不分城市和性别（N 指3-12，共分10组）</p>
        </section>
        <div class="school">
            <img src="$!request.contextPath/views/publishh5/res/img/activity/ranking/school.jpg" />
        </div>
        <section>
            <h2>学校、机构排行榜</h2>
            <div class="line"></div>
            <p class="title">全国（学校/机构）活跃度排行榜</p>
            <p>所有的学校/机构按其参赛选手的人数来排行（学校/机构指小学、幼儿园或培训机构，共分3组）</p>
            <p class="title">全国（学校/机构）选手人气排行榜</p>
            <p>所有的学校/机构按其参赛选手的最高票数来排行（学校/机构指小学、幼儿园或培训机构，共分3组）</p>
        </section>
        <div class="teacher">
            <img src="$!request.contextPath/views/publishh5/res/img/activity/ranking/teacher.jpg" />
        </div>
        <section class="mt85">
            <h2>老师排行榜</h2>
            <div class="line"></div>
            <p class="title">全国优秀指导老师排行榜</p>
            <p>所有的指导老师按指导的参赛选手的最高票数来排行</p>
            <p class="title">全国优秀组织老师排行榜</p>
            <p>所有的组织老师按组织的参赛选手的人数来排行</p>
        </section>

    </article>
</div>


</body>
</html>

