/// <reference path="../../_references.scss" />

.passwordResetPage {
    padding: 75px 70px;

    .step {
        width: 728px;
        margin: 0 auto;

        li {
            @extend .clearfix;

            .rate {
                float: left;
                width: 64px;
                text-align: center;

                span {
                    display: block;
                }

                .number {
                    position: relative;

                    i {
                        font-size: 28px;
                        color: $color-info;
                    }

                    strong {
                        position: absolute;
                        top: 9px;
                        left: 27px;
                        color: white;
                    }
                }
            }

            .current {
                .number {
                    i {
                        color: $color-brand;
                    }
                }
            }

            .line {
                float: left;
                width: 268px;
                height: 1px;
                margin-top: 19px;
                background: $color-line2;
            }
        }
    }

    .passwordReset-1 {
        width: 455px;
        margin: 0 auto;
        margin-top: 70px;
    }

    .passwordReset-2 {
        .title {
            color: $color-info;
            padding-left: 146px;
        }
    }

    .passwordReset-3 {
        padding: 130px 0;

        .success {
            color: black;
            font-size: 26px;
            height: 60px;
            width: 210px;
            line-height: 60px;
            margin: 0 auto;
            padding-left: 80px;
            background: url(../img/user/passwordReset/success.png) no-repeat;
        }
    }
}
