.termsOfServicePage {
    .termsOfServiceCon {
        border: 1px solid #e6e6e6;
        padding: 54px 40px 70px;

        h3 {
            font-weight: normal;
            text-align: center;
            color: #000;
        }

        h4 {
            font-size: 18px;
            font-weight: normal;
            color: #1a1a1a;
            margin-top: 30px;
        }

        h5 {
            font-size: 16px;
            font-weight: normal;
            color: #1a1a1a;
            margin-top: 30px;
        }
    }

    .back {
        margin:76px 0 64px;
        text-align:center;
    }
}
