.competitionJoinPage {
    &-item {
        padding: 35px 0 48px 0;
        background: white;

        .title {
            text-align: center;
            color: black;
            font-size: 18px;
        }

        .form {
            margin-top: 30px;
            padding-left: 190px;
        }
        
        .recommendedSideInfo {
            font-size: 14px;
            text-align: center;
            color: #CCC;
            margin: 4px auto 10px;
        }
    
    }

    .submit {
        text-align: center;
        margin-top: 40px;

        .site-button {
            width: 328px;
        }
    }
}
