.designForThePeoplePage {
    
    .site-body {
        padding: 0;
    }

    .banner {
        height: 1068px;
        width:100%;
        background: url(../img/competition/designForThePeople/design.jpg) no-repeat 50% 50%;
    }
}
