.poeticdaysPage {
    
    .site-body {
        padding: 0;
    }

    .banner {
        height: 1092px;
        width:100%;
        background: url(../img/competition/poeticdays/poeticdays.jpg) no-repeat 50% 50%;
    }
}
