.kidsInfoPage {
    div {
        padding: 20px 65px;
        background: white;
    }

    h3 {
        color: black;
        font-weight: normal;
        font-size: 16px;
    }

    p {
        font-size: 14px;
        margin-top: 20px;
    }

    .line {
        width: 4px;
        height: 16px;
        margin-top: 4px;
        background: #92c3ff;
    }
}
