.designForThePeoplePage {
    font-family: "SimHei ";
    background: url(../img/activity/designForThePeople/design.jpg)  0 0 no-repeat;
    background-size: 100%;

    .wrap {
          font-size:15px;
          line-height:1.5em;
          width:66.8%;
          margin:60% auto 0;
    }
}
