.questionnaireRulesPage {
    font-family: "SimHei ";
    background: #eee;
    padding-bottom: 3rem;

    article {
        padding: 0 0.8rem;

        section {
            h2 {
                font-size: 25px;
                font-weight:normal;
                margin:1.5rem auto 1.75rem;
            }

            p {
                font-size: 15px;
                color: #333;
                line-height: 1.5em;
            }

            div {
                p {
                    font-size: 14px;
                    color: #999;
                }
            }

        }
    }
}
