.servicesAgreementPage {
    font-family: "SimHei ";
    background: #eee;
    padding-bottom: 3rem;

    article {
        padding: 0 0.8rem;

        section {
            h2 {
                font-size: 24px;
                margin-top: 1.5rem;
            }

            p {
                font-size: 15px;
                line-height: 1.5em;
                margin-top: 1.125rem;

                span {
                    font-weight: bolder;
                }

                .tel {
                    text-decoration: none;
                }
            }

            div {
                p {
                    margin-top: 0;
                }
            }

            em {
                font-style: normal;
                color: #6554aa;
            }

            a {
                color: #6554aa;
            }
        }
    }
}
