<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/><![endif]-->
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache"></meta>
    <meta http-equiv="Cache-Control" content="no-cache"></meta>
    <title>关于大赛</title>
    <link href="$!request.contextPath/res/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="$!request.contextPath/favicon.ico">
    <script src="$!request.contextPath/res/js/mobileAdapt.js"></script>
</head>
<body class="site site-3 competitionAboutPage">
#parse("head.html")
<div class="site-menu">
    <ul class="site-container flc">
        <li>
            <a class="" href="$!request.contextPath/home/index.do">首页</a>
        </li>
        <li>
            <a class="current" href="$!request.contextPath/game/about.do">关于大赛</a>
        </li>
        <li>
            <a class="" href="$!request.contextPath/works/index.do">作品展示</a>
        </li>
        <li>
            <a class="" href="$!request.contextPath/artist/index.do">小小画家</a>
        </li>
        <li>
            <a href="$!request.contextPath/passWork/index.do">入围榜</a>
        </li>
        <li>
           <a href="$!request.contextPath/love/index.do">公益活动</a>
        </li>
        <li>
            <a class="" href="$!request.contextPath/game/activity.do">赛区活动</a>
        </li>
        <li class="">
            <a class="" href="$!request.contextPath/home/pastReview.do">往届回顾</a>
        </li>
        <li class="last search">
            <form id="searchForm" class="clearfix" action="/" method="post">
                <div id="searchWrap" class="fl clearfix none">
                    <div class="text">
                        <input name="keywords" type="text" placeholder="请输入搜索内容" />
                    </div>
                </div>
                <input class="search-button" type="submit" value="搜索" />
            </form>
        </li>
    </ul>
</div>

<div class="site-body">

<div class="banner">
</div>
<div class="site-container">
    <div class="wrap">
        <i class="i-1"><img src="$!request.contextPath/res/img/competition/about/competition_1.png" /></i>大赛简介
    </div>
    <div class="compeSum">
        <img src="$!request.contextPath/res/img/competition/about/competition_pic1.png" />
    </div>
    <div class="compeSort mt80">
        <strong>作品分组和要求</strong>
        <p class="mt35"><span><img src="$!request.contextPath/res/img/competition/about/competition_p_bg.png" /></span>活动按3-12岁各年龄区分（注明创作时的年龄）。</p>
        <p><span><img src="$!request.contextPath/res/img/competition/about/competition_p_bg.png" /></span>参赛作品必须由参赛者本人创作，可天马行空发挥想象力，洞察力强，具有时代特征，内容积极向上。</p>
        <p><span><img src="$!request.contextPath/res/img/competition/about/competition_p_bg.png" /></span>绘画作品：画种不限，国画、油画、水彩画、素描、版画、年画、动漫、剪纸、儿童画（铅笔、钢笔、蜡笔）等均可。</p>
        <p><span><img src="$!request.contextPath/res/img/competition/about/competition_p_bg.png" /></span>规格要求：原则上除国画外所有参赛作品一律采用正度8开纸（39厘米×27厘米）或4开纸（39厘米×54厘米），</p>
        <p>纸张要求要有一定的厚度，便于获奖作品展示，光洁、无污损、无折痕，中国画作品不大于四尺斗方（68厘米×68厘米），请勿装裱。</p>
    </div>
</div>
<div class="greybg mt60">
    <div class="site-container">
        <div class="compeSum no_border">
            <img src="$!request.contextPath/res/img/competition/about/competition_pic2.png" />
        </div>
    </div>
</div>
<div class="site-container">
    <div class="wrap">
        <i class="i-3"><img src="$!request.contextPath/res/img/competition/about/competition_3.png" /></i>参赛流程
    </div>
    <div class="participation">
        <img src="$!request.contextPath/res/img/competition/about/competition_pic3.png" />
    </div>
    <div class="pxzd">
        <p><strong>评选制度</strong></p>
        <img src="$!request.contextPath/res/img/competition/about/competition_pic4.png" class="mt55" />
        <p class="mt30">注：每级评选分为初选、复选、终选，入围优秀作品将进行落地展览，全国评选入围作品将在北京展览并颁奖。</p>
    </div>

    <div class="wrap wrap1">
        <i class="i-4"><img src="$!request.contextPath/res/img/competition/about/competition_4.png" /></i>奖项设置
    </div>
    <div class="prizes">
        <p>为鼓励广大少年儿童绘画爱好者积极参与，对于经过层层选拔进入全国范围参评的优胜作品。</p>
        <p class="title">全国奖</p>
        <p>① 拟评出“特等奖”10名，颁发奖杯、证书；“金奖”40名，颁发奖杯、证书；“银奖”160名，颁发奖杯、证书；“铜奖”300名，颁发奖杯、证书。</p>
        <p>② 拟评出10名“中国少年儿童绘画创作奖”，颁发奖杯、证书。</p>
        <p>③ 甄选50幅最具创意绘画作品，推荐中国少年儿童书画院收藏，并颁发收藏证书。</p>
        <p>④ 按照辅导老师所辅导的获奖作品的数量和质量，拟对前30名指导老师授予“优秀指导教师”称号，并给予5000元/人奖励。</p>
        <p>⑤ 按照各学校（教育机构）推荐作品获奖的数量和质量，拟对前30名先进机构单位授予“中国少年儿童书画院美术教育先进单位”称号。</p>
        <p>⑥ 为所有获得全国特等奖、金奖作品的作者颁发印有自己的获奖作品的精美获奖证书。</p>
        <p>⑦ 所有获得全国铜奖以上作品的作者，将被吸收为“中国少年儿童书画院会员”，颁发会员证，并有机会参加中国少年儿童书画院举办的重大交流活动。</p>
        <p>⑧ 所有获得特等奖、金奖作品的作者，将被邀请到京参加2016年暑期举办的“第三届中国•北京国际少年儿童书画双年展”现场创作活动，并有机会得到国内著名绘画专家指点。</p>
        <p>⑨ 所有获得特等奖、金奖作品的作者，将被邀请参加2016年暑期举办的“我的家—暑期绘画夏令营”。</p>
        <p>⑩ 所有获得特等奖、金奖作品的作者，将被邀请参加2017年1月举办的“我的家-全国少年儿童绘画大赛”获奖作品专题展。</p>
        <p class="title mt20">地方奖</p>
        <p>分别拟评出区县级、市级、省级的“金奖”、“银奖”、“铜奖”若干</p>
    </div>
    <div class="wrap">
        <i class="i-5"><img src="$!request.contextPath/res/img/competition/about/competition_5.png" /></i>权威评审
    </div>
    <div class="review clearfix">
        <p>组委会聘请国内著名绘画艺术家组成专家组负责优秀作品的甄选工作。组成人员如下：</p>
        <ul class="mt10">
            <li class="liWid">
                <p class="title">专家组成员：  </p>
                <p><span>林学明 </span>中央美院教授、著名设计师、当代艺术家</p>
                <p><span>萧东荣 </span>清华大学城市品牌研究室执行主任</p>
                <p><span>童颜汝南</span>中国美院博士、副教授、著名艺术家</p>
                <p><span>黄汇钟</span>中央美院城市设计学院教研室主任</p>
                <p><span>鲁  秋</span>著名书画艺术家、梅花冰雪冷香画派创始人</p>
                <p><span>黄  岩</span>著名艺术家、上海水墨艺术博物馆馆长</p>
                <p><span>刑俊勤</span>中国人民革命军事博物馆艺术委员会驻馆创作员</p>
                <p><span>郭　冶</span>著名漫画家、杭州国际动画学院动画系主任</p>                
            </li>
            <li class="liRight">
                <p class="title">专家组高级顾问： </p>
                <p><span>韩美林 </span>著名美术家、全国政协常委、中央文史研究馆馆员</p>
                <p><span>王子忠  </span>中国书画家联谊会主席</p>
                <p><span>朱曜奎  </span>著名美术教育家、清华大学美术学院博士生导师</p>
            </li>
        </ul>
    </div>
</div>
    <div class="banner-bottom">
     #if($session.getAttribute("USER_TYPE")==2||$session.getAttribute("USER_TYPE")==6||$session.getAttribute("USER_TYPE")==1||$session.getAttribute("USER_TYPE")==3)
           #if($session.getAttribute("ARTIST_ID"))
            <a  href="$!request.contextPath/works/uploadindex.do?artistid=$session.getAttribute('ARTIST_ID')"></a>
                   #else
             <a  href="$!request.contextPath/game/interceptorindex.do"></a>
                   #end
                #elseif($session.getAttribute("USER_TYPE")==4||$session.getAttribute("USER_TYPE")==5)
                <a></a>
                #else
                    <a  href="$!request.contextPath/game/interceptorindex.do"></a>
                #end
    </div>
</div>
    <div class="site-foot">
   #parse("_footer.html")
</div>
 #parse("footer.html")
    <!-- shared section start-->
    <script>
        var siteConfig = {
        	personalCenter: {
            kidsUrl: "$!request.contextPath/help/personalCenter.do",
            userUrl: "$!request.contextPath/user/personalCenter/profile.do",
            teacherUrl: "$!request.contextPath/teacher/personalCenter.do",
            painterUrl: "$!request.contextPath/artist/personalCenter.do"
            },
            works: {
            detailUrl: "$!request.contextPath/works/worksinfo.do"
            },
            fileUrl: "",
            searchUrl: "$!request.contextPath/search/index.do",
            resUrl: "$!request.contextPath/res",
            serverUrl: "$!request.contextPath",
            app: ""
        };
    </script>
    <script data-main="$!request.contextPath/res/js/init" src="$!request.contextPath/res/lib/requirejs/require.js"></script>
    <!-- shared section end-->
    <!--百度统计-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?deaa130d368d596283c853e45be4c9ae";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>
