<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/><![endif]-->
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="Pragma" content="no-cache"></meta>
    <meta http-equiv="Cache-Control" content="no-cache"></meta>
    <title>往届回顾</title>
    <meta name="keywords" content="少儿绘画,儿童绘画,全国少儿绘画,全国儿童绘画,少儿绘画大赛,儿童绘画作品" />
    <meta name="description" content="我的家-全国少年儿童绘画大赛，面向全国3 -12岁少年儿童的公益性绘画比赛。使小朋友不仅仅可以拿作品参赛,还能以此帮助有困难的小朋友,从小培养他们的大爱意识,让公益事业与中国少年儿童艺术共同发展。" />
    <link rel="shortcut icon" type="image/x-icon" href="$!request.contextPath/favicon.ico">
    <link href="$!request.contextPath/res/css/main.css" rel="stylesheet" />
    
        <script src="$!request.contextPath/res/js/mobileAdapt.js"></script>
</head>
<body class="site site-3 pastReviewPage">
#parse("head.html")
<div class="site-menu">
   <ul class="site-container flc">
        <li>
            <a class="" href="$!request.contextPath/home/index.do">首页</a>
        </li>
        <li>
            <a href="$!request.contextPath/game/about.do">关于大赛</a>
        </li>
        <li>
            <a class="" href="$!request.contextPath/works/index.do">作品展示</a>
        </li>
        <li>
            <a class="" href="$!request.contextPath/artist/index.do">小小画家</a>
        </li>
        <li>
            <a href="$!request.contextPath/passWork/index.do">入围榜</a>
        </li>
        <li>
           <a href="$!request.contextPath/love/index.do">公益活动</a>
        </li>
        <li>
            <a class="" href="$!request.contextPath/game/activity.do">赛区活动</a>
        </li>
        <li class="">
            <a class="current" href="$!request.contextPath/home/pastReview.do">往届回顾</a>
        </li>
        <li class="last search">
            <form id="searchForm" class="clearfix" action="/" method="post">
                <div id="searchWrap" class="fl clearfix none">
                    <div class="text">
                        <input name="keywords" type="text" placeholder="请输入搜索内容" />
                    </div>
                </div>
                <input class="search-button" type="submit" value="搜索" />
            </form>
        </li>
    </ul>
</div>

<div class="site-body">
    
<div id="banner" class="banner">
    <a class="control control-preview" href="javascript:void(0);"></a>
    <ul>
        <li class="first none"></li>
    </ul>
    <a class="control control-next" href="javascript:void(0);"></a>
</div>
<div class="site-container">
    <div class="site-tab" data-auto-parse="false">
        <ol class="site-tab-nav flc">
            <li class="active"><a href="javascript:void(0);">2014精彩回顾</a></li>
            <li><a href="javascript:void(0);">2012精彩回顾</a></li>
        </ol>
        <div class="site-tab-panel">
            <div class="site-page">
                <div class="activityPhoto reviewItem">
                    <div class="clearfix">
                        <div class="line fl"></div>
                        <div class="title fl">活动照片</div>
                        <div class="line fl"></div>
                    </div>
                    <div class="site-tab-panel-con">
                        <div class="activity2014 slick">
                            <a class="control control-preview" href="javascript:void(0);"></a>
                            <ul>
                                <li class="first none">
                                    <div class="clearfix">
                                        <div class="pic first">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2014/activity01.jpg" />
                                            </a>
                                        </div>
                                        <div class="pic">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2014/activity02.jpg" />
                                            </a>
                                        </div>
                                        <div class="pic">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2014/activity03.jpg" />
                                            </a>
                                        </div>
                                        <div class="pic">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2014/activity04.jpg" />
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="second none">
                                    <div class="clearfix">
                                        <div class="pic first">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2014/activity05.jpg" />
                                            </a>
                                        </div>
                                        <div class="pic">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2014/activity06.jpg" />
                                            </a>
                                        </div>
                                        <div class="pic">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2014/activity07.jpg" />
                                            </a>
                                        </div>
                                        <div class="pic">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2014/activity08.jpg" />
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="three none">
                                    <div class="clearfix">
                                        <div class="pic first">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2014/activity09.jpg" />
                                            </a>
                                        </div>
                                        <div class="pic">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2014/activity10.jpg" />
                                            </a>
                                        </div>
                                        <div class="pic">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2014/activity11.jpg" />
                                            </a>
                                        </div>
                                        <div class="pic">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2014/activity12.jpg" />
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="four none">
                                    <div class="clearfix">
                                        <div class="pic first">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2014/activity13.jpg" />
                                            </a>
                                        </div>
                                        <div class="pic">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2014/activity14.jpg" />
                                            </a>
                                        </div>
                                        <div class="pic">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2014/activity15.jpg" />
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a class="control control-next" href="javascript:void(0);"><span class="J_num">1</span>/4</a>
                        </div>
                    </div>
                </div>
                <div class="outstandingWorks reviewItem">
                    <div class="clearfix">
                        <div class="line fl"></div>
                        <div class="title fl">优秀作品</div>
                        <div class="line fl"></div>
                    </div>
                    <div class="site-tab-panel-con">
                        <div class="grid">
                            <div class="grid-item">
                                <a href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works01.jpg" /></a>
                                <span class="none vedio J_artwrok" data-artwork="3e7c81b7da" data-type="video">
                                    <a href="javascript:void(0);">
                                        <img src="$!request.contextPath/res/img/competition/pastReview/video.png" /><br />
                                        新闻：放飞艺术梦想
                                    </a>
                                </span>
                            </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works02.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works02.jpg" /></a>
                                    <span class="none">金奖-Taylor Aversa(泰勒.阿韦萨)</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works03.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works03.jpg" /></a>
                                    <span class="none">金奖-常乐妍</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works04.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works04.jpg" /></a>
                                    <span class="none">金奖-邓茗瑞</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works05.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works05.jpg" /></a>
                                    <span class="none">金奖-段奕舟</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works06.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works06.jpg" /></a>
                                    <span class="none">金奖-栾佳玉</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works07.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works07.jpg" /></a>
                                    <span class="none">金奖书法-吉洋</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works08.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works08.jpg" /></a>
                                    <span class="none">金奖书法-宗德钰</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works09.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works09.jpg" /></a>
                                    <span class="none">金奖书法-李帛俊</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works10.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works10.jpg" /></a>
                                    <span class="none">金奖书法-全继刚</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works11.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works11.jpg" /></a>
                                    <span class="none">金奖书法-周竺筱</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works12.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works12.jpg" /></a>
                                    <span class="none">特将书法-钟佳</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works13.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works13.jpg" /></a>
                                    <span class="none">金奖书法-李帛俊</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works14.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works14.jpg" /></a>
                                    <span class="none">金奖-于璐洋</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works15.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works15.jpg" /></a>
                                    <span class="none">特奖绘画-郭楠</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works16.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works16.jpg" /></a>
                                    <span class="none">特奖书法-刘丰玮</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works17.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works17.jpg" /></a>
                                    <span class="none">特奖绘画-张雨歆</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works18.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works18.jpg" /></a>
                                    <span class="none">金奖-赵倬煊</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works19.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works19.jpg" /></a>
                                    <span class="none">特奖绘画-Mogan Rogers（摩根&#183;罗格）</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works20.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works20.jpg" /></a>
                                    <span class="none">特奖绘画-林三</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works21.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works21.jpg" /></a>
                                    <span class="none">特奖绘画-张博远</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works22.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works22.jpg" /></a>
                                    <span class="none">特奖书法-赵天逸</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works23.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works23.jpg" /></a>
                                    <span class="none">特奖书法-刘丰玮</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works24.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works24.jpg" /></a>
                                    <span class="none">特奖绘画-张家毓</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works25.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works25.jpg" /></a>
                                    <span class="none">特奖书法-许铭芯</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works26.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works26.jpg" /></a>
                                    <span class="none">特奖书法-赵月桢</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works27.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works27.jpg" /></a>
                                    <span class="none">特奖书法-赵月桢</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works28.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works28.jpg" /></a>
                                    <span class="none">特奖书法-许铭芯</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2014y/works29.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2014/works29.jpg" /></a>
                                    <span class="none">特奖书法-钟佳</span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-page none">
                <div class="activityPhoto reviewItem">
                    <div class="clearfix">
                        <div class="line fl"></div>
                        <div class="title fl">活动照片</div>
                        <div class="line fl"></div>
                    </div>
                    <div class="site-tab-panel-con">
                        <div class="activity2014 slick">
                            <a class="control control-preview" href="javascript:void(0);"></a>
                            <ul>
                                <li class="first none">
                                    <div class="clearfix">
                                        <div class="pic first">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2012/actiity1201.jpg" />
                                            </a>
                                        </div>
                                        <div class="pic">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2012/actiity1202.jpg" />
                                            </a>
                                        </div>
                                        <div class="pic">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2012/actiity1203.jpg" />
                                            </a>
                                        </div>
                                        <div class="pic">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2012/actiity1204.jpg" />
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="second none">
                                    <div class="clearfix">
                                        <div class="pic first">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2012/actiity1205.jpg" />
                                            </a>
                                        </div>
                                        <div class="pic">
                                            <a href="javascript:void(0);">
                                                <img src="$!request.contextPath/res/img/competition/pastReview/2012/actiity1206.jpg" />
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a class="control control-next" href="javascript:void(0);"><span class="J_num">1</span>/2</a>
                        </div>
                    </div>
                </div>
                <div class="outstandingWorks reviewItem">
                    <div class="clearfix">
                        <div class="line fl"></div>
                        <div class="title fl">优秀作品</div>
                        <div class="line fl"></div>
                    </div>
                    <div class="site-tab-panel-con">
                        <div class="grid">

                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2012y/works1201.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2012/works1201.jpg" /></a>
                                    <span class="none">孙鸣阳</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2012y/works1202.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2012/works1202.jpg" /></a>
                                    <span class="none">吕思涵</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2012y/works1203.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2012/works1203.jpg" /></a>
                                    <span class="none">马伯瞻</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2012y/works1204.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2012/works1204.jpg" /></a>
                                    <span class="none">Jnney Wang</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2012y/works1205.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2012/works1205.jpg" /></a>
                                    <span class="none">程瑶</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2012y/works1206.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2012/works1206.jpg" /></a>
                                    <span class="none">李慕然</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2012y/works1207.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2012/works1207.jpg" /></a>
                                    <span class="none">谭奥</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2012y/works1208.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2012/works1208.jpg" /></a>
                                    <span class="none">侯李侯</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2012y/works1209.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2012/works1209.jpg" /></a>
                                    <span class="none">孙瑞泽</span>
                                </div>
                                <div class="grid-item">
                                    <a class="J_artwrok" data-artwork="$!request.contextPath/res/img/competition/pastReview/2012y/works1210.jpg" href="javascript:void(0);"><img src="$!request.contextPath/res/img/competition/pastReview/2012/works1210.jpg" /></a>
                                    <span class="none">宋鉴</span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="site-foot">
     #parse("_footer.html")
</div>
 #parse("footer.html")
    <script>
        var siteConfig = {
            personalCenter: {
                kidsUrl: "$!request.contextPath/help/personalCenter.do",
                userUrl: "$!request.contextPath/user/personalCenter/profile.do",
                teacherUrl: "$!request.contextPath/teacher/personalCenter.do",
                painterUrl: "$!request.contextPath/artist/personalCenter.do"
            },
            works: {
                detailUrl: "$!request.contextPath/works/worksinfo.do"
            },
            fileUrl: "",
            searchUrl: "$!request.contextPath/search/index.do",
            resUrl: "$!request.contextPath/res",
            serverUrl: "$!request.contextPath",
            url: "$!request.contextPath",
            app: "competition/pastReview"
        };
    </script>
    <script data-main="$!request.contextPath/res/js/init" src="$!request.contextPath/res/lib/requirejs/require.js"></script>
    <!-- shared section end-->
    <!--百度统计-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?deaa130d368d596283c853e45be4c9ae";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>
