<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" />
<!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/><![endif]-->
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>诗意的日子</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link href="$!request.contextPath/res/css/main.css" rel="stylesheet" />

<script src="$!request.contextPath/res/js/mobileAdapt.js"></script>
</head>
<body class="site poeticdaysPage site-4">
	#parse("_head.html")
	<div class="site-head">
		<div class="site-container clearfix">
			<div class="site-head-l">
				<h1 class="logo">
					<a href="$!request.contextPath/home/index.do">我的家</a>
				</h1>
				<div class="text clearfix">
					<span class="divide"></span> <span class="title">诗意的日子</span>
				</div>
			</div>
		</div>
	</div>
	<div class="site-body">
		<div class="banner"></div>
	</div>

	<div class="site-foot">#parse("_footer.html")</div>
	<!-- shared section start-->
	<script>
        var siteConfig = {
        	personalCenter: {
                    kidsUrl: "$!request.contextPath/help/personalCenter.do",
                    userUrl: "$!request.contextPath/user/personalCenter/profile.do",
                    teacherUrl: "$!request.contextPath/teacher/personalCenter.do",
                    painterUrl: "$!request.contextPath/artist/personalCenter.do"
            },
            works: {
            detailUrl: "$!request.contextPath/works/worksinfo.do"
            },
            fileUrl: "",
            resUrl: "$!request.contextPath/res",
            serverUrl: "$!request.contextPath",
            app: ""
        };
    </script>
	<script data-main="$!request.contextPath/res/js/init"
		src="$!request.contextPath/res/lib/requirejs/require.js"></script>
	<!-- shared section end-->
	<!--百度统计-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?deaa130d368d596283c853e45be4c9ae";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>
